/* #########################################################
# +------------------------------------------------------+ #
# |                        Themes                        | #
# +------------------------------------------------------+ #
######################################################### */
body {
    --bg-red: #fa5252;
    --hover-bg-red: #f45e5e;
    --border-red: #ff6e6e;
    --bg-purple: #9f45ff;
    --hover-bg-purple: #a972e4;
    --checked-bg-purple: #a972e450;
    --border-purple: #bb7bff;
    --checked-border-purple: #bb7bff50;
    --text-white: #eeeeee;
}

body[data-theme="light"] {
    --bg-color: #dddddd;
    --container-bg: #d6d6d6;
    --hover-container-bg: #d2d2d2;
    --hover-container-bg10: #d2d2d2;
    --main-bg: #e5e5e5;
    --popup-color: #eeeeee;
    --active-color: #ffffff;
    --hover-active-color: #eeeeee;
    --input-color: #ffffff;
    --border-color: #cccccc;
    --hover-border-color: #bbbbbb;
    --border-color20: #aaaaaa;
    --text-color: #444444;
    --text-color80: #44444480;
    --disabled-text: #777777;
    --shadow-color: #969696ff;
    --shadow-color20: #828282;
    --shadow-color50: #828282;
}

body[data-theme="dark"] {
    --bg-color: #333333;
    --container-bg: #555555;
    --hover-container-bg: #454545;
    --hover-container-bg10: #656565;
    --main-bg: #454545;
    --popup-color: #505050;
    --active-color: #6f6f6f;
    --hover-active-color: #8f8f8f;
    --input-color: #606060;
    --border-color: #777777;
    --hover-border-color: #888888;
    --border-color20: #999999;
    --text-color: #eeeeee;
    --text-color80: #eeeeee80;
    --disabled-text: #bbbbbb;
    --shadow-color: #282828ff;
    --shadow-color20: #b0b0b0;
    --shadow-color50: #666666;
}